/* Flowchart variables */
/* Sequence Diagram variables */
/* Gantt chart variables */
.mermaid .label {
font-family: 'trebuchet ms', verdana, arial;
color: #fff;
}
path.path{
stroke: #d4d4d4;
}
rect{
fill:rgba(117, 117, 117, 0.48);
stroke-width:0px;
}
.node rect,
.node circle,
.node ellipse,
.node polygon {
fill: rgb(118, 208, 207);
stroke: rgb(255, 255, 255);
stroke-width: 0px;
}
.edgePath .path {
stroke: #d4d4d4;
stroke-width: 1.5px;
}
.edgeLabel {
color:rgb(95, 95, 95);
background-color:rgb(245, 245, 245);
}
.cluster rect {
fill: rgb(245, 245, 245) !important;
rx: 4  !important;
stroke: rgb(255, 255, 255) !important;
stroke-width: 0px !important;
}
.cluster text {
fill: rgb(95, 95, 95);
}
.actor {
stroke: rgb(255, 255, 255);
fill: rgb(118, 208, 207);
}
text.actor {
fill: rgb(255, 255, 255);
stroke: none;
}
.actor-line {
stroke: #eaeaea;
stroke-width: 2px;
}
.messageLine0 {
stroke-width: 1.5;
stroke-dasharray: "2 2";
marker-end: "url(#arrowhead)";
stroke: #eaeaea;
}
.messageLine1 {
stroke-width: 1.5;
stroke-dasharray: "2 2";
stroke: #eaeaea;
}
#arrowhead {
fill: #eaeaea;
}
#crosshead path {
fill: #eaeaea !important;
stroke: #eaeaea !important;
}
.messageText {
fill: rgb(148, 148, 148);
stroke: none;
}
.labelBox {
stroke: rgb(118, 208, 207);
fill: rgb(118, 208, 207);
}
.labelText {
fill: #fff;
stroke: none;
}
.loopText {
fill: #c5c5c5;
stroke: none;
}
.loopLine {
stroke-width: 1;
stroke-dasharray: "2 2";
marker-end: "url(#arrowhead)";
stroke: rgb(118, 208, 207);
}
.note {
stroke: #fff;
fill: rgb(255, 243, 203);
}
.noteText {
fill: #3a3a3a;
stroke: none;
font-family: 'trebuchet ms', verdana, arial;
font-size: 14px;
}
/** Section styling */
.section {
stroke: none;
opacity: 0.2;
}
.section0 {
fill: rgb(181, 181, 181);
}
.section2 {
fill: rgb(181, 181, 181);
}
.section1,
.section3 {
fill: white;
opacity: 0.2;
}
.sectionTitle0 {
fill: #333;
}
.sectionTitle1 {
fill: #333;
}
.sectionTitle2 {
fill: #333;
}
.sectionTitle3 {
fill: #333;
}
.sectionTitle {
text-anchor: start;
font-size: 11px;
text-height: 14px;
}
/* Grid and axis */
.grid .tick {
stroke: lightgrey;
opacity: 0.3;
shape-rendering: crispEdges;
}
.grid path {
stroke-width: 0;
}
/* Today line */
.today {
fill: none;
stroke: red;
stroke-width: 2px;
}
/* Task styling */
/* Default task */
.task {
stroke-width: 2;
}
.taskText {
text-anchor: middle;
font-size: 11px;
}
.taskTextOutsideRight {
fill: black;
text-anchor: start;
font-size: 11px;
}
.taskTextOutsideLeft {
fill: black;
text-anchor: end;
font-size: 11px;
}
/* Specific task settings for the sections*/
.taskText0,
.taskText1,
.taskText2,
.taskText3 {
fill: #3a3a3a;
}
.task0,
.task1,
.task2,
.task3 {
fill: rgb(118, 208, 207);
stroke: rgb(94, 181, 180);
}
/* Active task */
.active0,
.active1,
.active2,
.active3 {
fill: rgb(93, 199, 163);
stroke: rgb(45, 140, 100);
}
.activeText0,
.activeText1,
.activeText2,
.activeText3 {
fill: #3a3a3a !important;
}
/* Completed task */
.done0,
.done1,
.done2,
.done3 {
stroke: grey;
fill: lightgrey;
stroke-width: 2;
}
.doneText0,
.doneText1,
.doneText2,
.doneText3 {
fill: #3a3a3a !important;
}
/* Tasks on the critical line */
.crit0,
.crit1,
.crit2,
.crit3 {
stroke: rgb(175, 67, 112);
fill: #dc4477;
stroke-width: 2;
}
.activeCrit0,
.activeCrit1,
.activeCrit2,
.activeCrit3 {
stroke: rgb(245, 95, 164);
fill: rgb(243, 197, 78);
stroke-width: 2;
}
.doneCrit0,
.doneCrit1,
.doneCrit2,
.doneCrit3 {
stroke: rgb(232, 183, 71);
fill: #d0d0d0;
stroke-width: 2;
cursor: pointer;
shape-rendering: crispEdges;
}
.doneCritText0,
.doneCritText1,
.doneCritText2,
.doneCritText3 {
fill: #3a3a3a !important;
}
.activeCritText0,
.activeCritText1,
.activeCritText2,
.activeCritText3 {
fill: #3a3a3a !important;
}
.titleText {
text-anchor: middle;
font-size: 18px;
fill: black;
}
/*


*/
g.classGroup text {
fill: #13540c;
stroke: none;
font-family: 'trebuchet ms', verdana, arial;
font-size: 14px;
}
g.classGroup rect {
fill: #cde498;
stroke: #13540c;
}
g.classGroup line {
stroke: #13540c;
stroke-width: 1;
}
svg .classLabel .box {
stroke: none;
stroke-width: 0;
fill: #cde498;
opacity: 0.5;
}
svg .classLabel .label {
fill: #13540c;
}
.relation {
stroke: #13540c;
stroke-width: 1;
fill: none;
}
.composition {
fill: #13540c;
stroke: #13540c;
stroke-width: 1;
}
#compositionStart {
fill: #13540c;
stroke: #13540c;
stroke-width: 1;
}
#compositionEnd {
fill: #13540c;
stroke: #13540c;
stroke-width: 1;
}
.aggregation {
fill: #cde498;
stroke: #13540c;
stroke-width: 1;
}
#aggregationStart {
fill: #cde498;
stroke: #13540c;
stroke-width: 1;
}
#aggregationEnd {
fill: #cde498;
stroke: #13540c;
stroke-width: 1;
}
#dependencyStart {
fill: #13540c;
stroke: #13540c;
stroke-width: 1;
}
#dependencyEnd {
fill: #13540c;
stroke: #13540c;
stroke-width: 1;
}
#extensionStart {
fill: #13540c;
stroke: #13540c;
stroke-width: 1;
}
#extensionEnd {
fill: #13540c;
stroke: #13540c;
stroke-width: 1;
}
.node text {
font-family: 'trebuchet ms', verdana, arial;
font-size: 14px;
}
div.mermaidTooltip {
position: absolute;
text-align: center;
max-width: 200px;
padding: 2px;
font-family: 'trebuchet ms', verdana, arial;
font-size: 12px;
background: #cdffb2;
border: 1px solid #6eaa49;
border-radius: 2px;
pointer-events: none;
z-index: 100;
}
