.CodeMirror {
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}
.CodeMirror pre{
	color: #6783af;
}

#preview {
    padding: 0px 10px;
	background: #f7f7f7;
	color: #4f5865;
}

.mermaid {
    margin: 30px 0px;
	background: white;
	border-radius: 5px;
	border: 1px solid;
	overflow: scroll;
}

.katex-display {
    padding: 20px;
	color: rgb(71, 140, 169);
	overflow: scroll;
	background: #fff;
	border-radius: 5px;
	border: 1px solid;
}

div#path_area {
    float: left;
	margin-left: 10px;
	font-size: x-small;
	color: #627092;
}

code {
    font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}
.toolbar-footer{
	border-top: none;
}
.toolbar{
	box-shadow:none;
	background-image:none;
	background: #363540;
}
