body, code{
	font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}
.remark-container{
	background: #322e3a;
}
h1 {
    font-size: 28px;
    color: rgb(78, 162, 173);
}

h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    color: #636367;
}

h3 {
    font-size: 18px;
    color: #909090;
}
code{
border-radius: 5px;
}
