html {
    background: #322e3a;
}

h1 {
    font-size: 28px;
    color: rgb(78, 162, 173);
}

h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    color: #636367;
}

h3 {
    font-size: 18px;
    color: #909090;
}

body {
    /*background: #f6f6f6;*/
    background: #2f3244;
}

.mermaid {
    margin: 30px 0px;
    /*overflow: scroll;*/
}

.katex-display {
    padding: 20px;
    color: rgb(193, 227, 245);
    overflow: scroll;
    background: #2f3244;
    border-radius: 3px;
    /*border: 1px solid;*/
}

code {
    border-radius: 5px;
    font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

del {
    color: #d2d4da;
}

.adjust-box {
    position: relative;
    background: #EEE;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

html, body {
    height: 100%;
    font-family: Helvetica, arial, sans-serif;
    margin: auto;
}

h1, h2, h3, h4, h5, p, del, strong, ul, ol, li, pre, code, table, tbody, thead, tr, td, blockquote {
    font-size: 3vw;
    margin: 1vw 0;
    padding: 0;
}

ul, ol {
    list-style-position: inside;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#preview {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 72vw;
    width: 86vw;
    padding: 0px 5vw;
    background: white;
    color: #4f5865;
}

li {
    margin: 0vw 0vw 0vw 3vw;
}

pre.code_block {
    padding: 2vw;
    width: initial;
    border-radius: 1vw;
    background: #eee;
}

.katex-display {
    width: initial;
    padding: 3vw;
    border-radius: 1vw;
    margin: 1vw 0vw;
    font-size: 3vw;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 4vw;
    border-bottom: 0.2vw solid #cccccc;
}

table {
    margin: 2vw 0;
}

tr:nth-child(2n) {
    background-color: #f6f6f6;
}

th {
    border: 0.2vw solid #ddd;
    padding: 1vw;
}

td {
    border: 0.2vw solid #ddd;
    padding: 1vw;
}

.mermaid {
    margin: 1vw 0;
    padding: 0;
    overflow: visible;
    width: 89vw;
}

svg {
    width: 100%;
    height: initial;
}

blockquote {
    border-left: 1vw solid #dddddd;
    padding: 0 3vw;
}

blockquote p {
    margin: 0;
}
